@media (max-width: 399px){
    body{
        min-width: 400px;
    }
}

/* headerここから */
.header {
    position:relative;
    top: 0;
    left:0;
    background-color: #ffffee;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo{
    height: auto;
    width: 200px;
    padding: 0 10px;
}

.logo img{
    height: auto;
    width: 100%;
}

.lang_select{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.lang{
  display: flex;
 justify-content: center;
 align-items: center;
}

.lang a{
    text-decoration: none;
}

  .hamburger-menu {
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background: transparent;
    appearance: none;
    padding: 0;
    cursor: pointer;
  }
  .hamburger-menu__bar {
    display: inline-block;
    width: 44%;
    height: 2px;
    background: goldenrod;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
  }
  .hamburger-menu__bar:first-child {
    top: 16px;
  }
  .hamburger-menu__bar:nth-child(2) {
    top: 24px;
  }
  .hamburger-menu__bar:last-child {
    top: 32px;
  }
  .hamburger-menu--open .hamburger-menu__bar {
    top: 50%;
  }
  .hamburger-menu--open .hamburger-menu__bar:first-child {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .hamburger-menu--open .hamburger-menu__bar:last-child {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
  .hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
    display: none;
  }
  .navigation {
    display: none;
    background: goldenrod;
    position: absolute;
    top: 50px;
    left: 0;
    width: 25%;
    z-index: 9999;
  }
  .navigation__list {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .navigation__list-item {
    border-bottom: solid 1px #ffd700;
  }
  .navigation__list-item:first-child {
    border-top: solid 1px #ffd700;
  }
  .navigation__link {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    display: block;
    padding: 24px 0;
    transition: .5s;
  }
  @media (hover: hover) and (pointer: fine) {
    .navigation__link:hover {
      color: goldenrod;
      background: #ffffcc;
    }
    .navigation__list-item:hover {
        border-bottom: solid 2px #ffd700;
    }
    .navigation__list-item:first-child:hover {
        border-top: solid 2px #ffd700;
    }
  }


/* カルーセルここから */
.carousel2{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contains, .contains2{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    padding: 0;
    list-style: none;
}

.tbd_img{
    width: 100%;
    height: auto;
}
.slide_select{
    display: none;
}
.slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.tbd2{
    position: absolute;
    bottom:25%;
    font-size: 24px;
    color: #fff;
}

.scroll_controler{
 position: absolute;
 width: 100%;
 top: 50%;
 display: flex;
 justify-content: space-between;
 z-index: 2;
}

.scroll_button{
    display: block;
    height: 30px;
    width: 30px;
    border-width: 5px 5px 0 0;
    border-style: solid;
    border-color: #fdfdfd;
    cursor: pointer;
    opacity: 0.5;
}
.scroll_button:hover {
    opacity: 1;
}
.scroll_prev {
    margin-left: 15px;
    transform: rotate(-135deg);
}
.scroll_next {
    margin-right: 15px;
    transform:rotate(45deg);
}
.move_controler {
    position:absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.button_move{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0.5;
    z-index: 2;
}
.button_move:hover{
    opacity: 1;
}
.button_move{
    background-color: #fdfdfd;
}
.slide_select:nth-of-type(1):checked ~ .slide:nth-of-type(1){opacity: 1; position: relative;}
.slide_select:nth-of-type(1):checked ~ .move_controler .button_move:nth-of-type(1){opacity: 1;}
.slide_select:nth-of-type(2):checked ~ .slide:nth-of-type(2){opacity: 1; position: relative;}
.slide_select:nth-of-type(2):checked ~ .move_controler .button_move:nth-of-type(2){opacity: 1;}
.slide_select:nth-of-type(3):checked ~ .slide:nth-of-type(3){opacity: 1;  position: relative;}
.slide_select:nth-of-type(3):checked ~ .move_controler .button_move:nth-of-type(3){opacity: 1;}
/* カルーセルここまで */

/* セクションの装飾 */
h2 {padding:10px; margin:0; font-size:24px; color:black;}

.marker{background: linear-gradient(transparent 80% , yellow 80%);}

/* 天気予報 */
.weather-report {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.weather-report img {
    margin-right: 10px;
}
.weather-date, .weather-main, .weather-temp, .weather-wind {
    margin-right: 10px;
}
/* 天気予報ここまで */

.point_select{
  display: flex;
  justify-content: space-evenly;
}

.point{
  /* background-color:green; */
  width: 25%;
  margin: 24px;
}

.nakami{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.point_img{
  width: 100%;
  height: auto;
  border: solid 1px goldenrod;
}

/* .point_img img{

} */

.date_select{
  display: flex;
  justify-content: center;
  align-items: center;
}

.date_select input{
  margin: 12px;
}

/* result*/
.debug-info {
  display: none;
}

/* contact*/
.obi{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.line{
  width: 25%;
  height: 50px;
  margin: 10px;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}


.obi2{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.intra{
  width: 25%;
  height: auto;
  margin: 10px;
  /* background-color: greenyellow; */
  display: flex;
  align-items: center;
}

.intra_icon{
  display: flex;
  align-items: center;
}

.intra_icon img{
  width: 36px;
  height: auto;
  margin: 4px;
}

.intra_comment{
  margin: 4px;
}

/* Footer*/
.footer_container {
    width: 100%;
    height: 60px;
    background-color: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_text {
    color: white;
}